<h1>Search#index</h1>
<h3><%= pluralize(@recipes.count, "Result")%></h3>

<p><%= sort_link(@query, :dish_name, "Dish name", default_order: :asc)%></p>
<% @recipes.each do |recipe|%>
<p><%= link_to recipe.dish_name, recipe%></p>
<% end %>
