<div class="mt-24 flex flex-col justify-center items-center">
  <h1 class="text-3xl mt-10 mb-10 font-medium text-gray-800">New Recipe</h1>
  <div class="bg-yellow-400 p-4 rounded-lg">
    <%= render "form", recipe: @recipe, url: recipes_path, method: :post %>
  </div>
</div>
